node_modules
.pnpm-store
dist
build
packages/**/dist
!packages/@flowgram.ai/runtime-js/dist
!packages/@flowgram.ai/runtime-js/dist/**
mcp-server/dist
extensions/simple-blog/dist
public
logs
coverage
.turbo
*.tsbuildinfo

docker/data
storage/*
!storage/static
!storage/static/**

.env
.env.*
!.env.example

*.log
*.md
.DS_Store
.git
.gitignore
.vscode
.editorconfig
LICENSE
.nuxt
